<!--
  templateType: global_partial
  label: Footer
-->
  {% dnd_area 'footer-global' label='Header' %}
    {% dnd_section vertical_alignment="MIDDLE" full_width=true,
			padding={
        'default': { 'top': '20', 'bottom': '0', 'right': '0', 'left': '0' }, 
        'mobile': { 'top':'40', 'bottom': 0, 'right': '10', 'left': '10' }       
    },
      background_color={ r: 88, g: 103, b: 173, a: 1 }
			%}
			{% dnd_module "footer_flobal" 
				path="../../Global Module/Footer Module"
			%}
			{% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
